
// 超出省略号
.elli-1 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: break-word;
  word-break: break-all;
}

.elli-1-hide {
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
  word-wrap: break-word;
  word-break: break-all;
}

/* 超出两行省略 */
.elli-2 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.elli-3 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-no-wrap {
  flex-wrap: nowrap;
}
.flex-no-shink {
  flex-shrink: 0;
}
.align-center {
  display: flex;
  align-items: center;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex1 {
  flex: 1;
}

.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex-ss {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.flex-sb {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.flex-center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-start-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.flex-sb-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-only-between {
  display: flex;
  justify-content: space-between;
}

.flex-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flex-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.click-expand {
  position: relative;
}

.click-expand::after {
  position: absolute;
  content: ' ';
  left: -20px;
  right: -20px;
  top: -20px;
  bottom: -20px;
}

.click-active {
  transition: all ease 0.3s;
}

.click-active:active {
  opacity: 0.8;
}
